{% extends 'Authentication_template/base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ request.session.v_name }} | Authentication{% endblock %}</title>
    <meta name="description" content="Login page example"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<!--end::Head-->

<!--begin::Body-->
<body>
{% block content %}
    <div class="login-form">
        <!--begin::Form-->
        <form class="form" id="kt_login_signin_form" method="POST">
            {% csrf_token %}
            <!--begin::Title-->
            <div class="pb-13 pt-lg-0 pt-5">
                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Welcome
                    to {{ request.session.v_name }}</h3>
            </div>
            <!--end::Title-->
            <!--begin::Form group-->
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark ml-1">Username</label>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="text"
                       name="username" autocomplete="off" placeholder="John" id="username_data"/>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
                <div class="d-flex justify-content-between mt-n5">
                    <label class="font-size-h6 font-weight-bolder text-dark pt-5 ml-1">Password</label>
                    <a href="{% url 'Authentication:password_reset' %}"
                       class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">Forgot Password
                        ?</a>
                </div>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="password"
                       name="password" autocomplete="off" placeholder="******" id="password_data"/>
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pb-lg-0 pb-5">
                <button type="button" id="kt_login_signin_submit"
                        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign In
                </button>
            </div>
            <div class="pb-lg-0 pb-5">
                <button type="button" onclick="filladminInput()"
                        class="btn btn-warning font-weight-bolder mr-3">Admin
                </button>
                <button type="button" onclick="filldoctorInput()"
                        class="btn btn-warning font-weight-bolder mr-3">Doctor
                </button>
                <button type="button" onclick="fillreceptionistInput()"
                        class="btn btn-warning font-weight-bolder mr-3">Receptionist
                </button>
                <button type="button" onclick="fillpatientInput()"
                        class="btn btn-warning font-weight-bolder ">Patient
                </button>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
    </div>
{% endblock %}
{% block footer %}
    <a href="{{ data.link1 }}" class="text-primary font-weight-bolder font-size-h5">About Us</a>
    <a href="{{ data.link2 }}" class="text-primary ml-10 font-weight-bolder font-size-h5">Teams</a>
    <a href="{{ data.link3 }}" class="text-primary ml-10 font-weight-bolder font-size-h5">Contact Us</a>
{% endblock %}
</body>
{% block js %}
    <script src="{% static "js/validation/login_validation.js" %}"></script>
    <script>
        function filladminInput() {
            var username_inputBox = document.getElementById("username_data");
            username_inputBox.value = "admin";
            var password_inputBox = document.getElementById("password_data");
            password_inputBox.value = "admin@123";
        }
        function filldoctorInput() {
            var username_inputBox = document.getElementById("username_data");
            username_inputBox.value = "doctor";
            var password_inputBox = document.getElementById("password_data");
            password_inputBox.value = "doctor@123";
        }
        function fillreceptionistInput() {
            var username_inputBox = document.getElementById("username_data");
            username_inputBox.value = "receptionist";
            var password_inputBox = document.getElementById("password_data");
            password_inputBox.value = "recept@123";
        }
        function fillpatientInput() {
            var username_inputBox = document.getElementById("username_data");
            username_inputBox.value = "patient";
            var password_inputBox = document.getElementById("password_data");
            password_inputBox.value = "patient@123";
        }
    </script>
{% endblock %}
</html>
