{% extends 'Authentication_template/base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ request.session.v_name }} | Reset Password{% endblock %}</title>
    <meta name="description" content="Login page example"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<!--end::Head-->

<!--begin::Body-->
<body>
{% block content %}
    <!--begin::Signin-->
    <div class="login-form">
        <!--begin::Form-->
        <form class="form" enctype="multipart/form-data" id="kt_login_password_reset_form" method="POST">
            {% csrf_token %}
            <!--begin::Title-->
            <div class="pb-13 pt-lg-0 pt-5">
                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Welcome
                    to {{ request.session.v_name }}</h3>
            </div>
            <!--begin::Title-->
            <!--begin::Form group-->
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">New Password</label>
                <input type="password" name="new_password1"
                       class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       id="id_new_password1">
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">New Password Confirmation</label>
                <input type="password" name="new_password2"
                       class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       id="id_new_password2">
            </div>
            <!--end::Form group-->
            <!--begin::Action-->
            <div class="pb-lg-0 pb-5">
                <button type="button"
                        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" id="password_reset">
                    Reset
                    Password
                </button>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Signin-->
{% endblock %}
</body>
{% block js %}
    <script src="{% static "js/validation/password_reset_form_validation.js" %}"></script>
{% endblock %}
</html>
