{% extends "Profile_template/profile.html" %}
{% comment %} Template tag base:start {% endcomment %}

{% load static %}
{% block title %}Change Password{% endblock %}
{% block header_name %}Profile{% endblock %}
{% block header_name_sub %}
    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
        <li class="breadcrumb-item">
            <a href="" class="text-muted">Settings</a>
        </li>
        <li class="breadcrumb-item">
            <a href="" class="text-muted">Profile</a>
        </li>
        <li class="breadcrumb-item">
            <a href="" class="text-muted">Password</a>
        </li>
    </ul>
{% endblock header_name_sub %}

{% comment %} Template tag base:end {% endcomment %}
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<!--begin::Content-->

{% block inner_content %}
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
					<h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
                </div>
            </div>
            <!--end::Header-->

            <!--begin::Form-->
            <form class="form" method="POST" id="change_password_form">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Current Password</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="password" name="old_password" class="form-control form-control-lg form-control-solid mb-2" placeholder="Current password" />
{#                            <a href="#" class="text-sm font-weight-bold">Forgot password ?</a>#}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">New Password</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="password" name="new_password" class="form-control form-control-lg form-control-solid" placeholder="New password" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Verify Password</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="password" name="retype_new_password" class="form-control form-control-lg form-control-solid" placeholder="Verify password" />
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit" class="btn btn-success mr-2">Save Changes</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
{% endblock %}
<!--end::Content-->
</body>
{% block js %}
    <script src="{% static 'js/validation/change_password_validation.js' %}"></script>
{% endblock %}
</html>